{% extends '@KibaticCms/layout.html.twig' %}

{% block content %}
    <h1>Blocks edit : <b>{{ blocks[0].slug }}</b></h1>

    {% for edit_form in edit_forms %}
        <section>
            {% include '@KibaticCms/block/_form.html.twig' with {'form': edit_form} %}

            {% set delete_form = delete_forms[loop.index0] %}
            {{ form(delete_form, {'attr': {
                'id': delete_form.vars.id,
                'onsubmit': 'return confirm(\'Are you sure ?\')'
            }}) }}

            <div class="btn-group pull-right" role="group">
                <a href="{{ path('cms_block_index') }}" class="btn btn-default">Back to the list</a>
                <button type="submit" class="btn btn-danger" form="{{ delete_form.vars.id }}">Delete</button>
                <button type="submit" class="btn btn-success" form="{{ edit_form.vars.id }}">Save</button>
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% include '@KibaticCms/_css.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@KibaticCms/_js.html.twig' %}
{% endblock %}
