{% extends '@KibaticCms/layout.html.twig' %}

{% block content %}
    <div id="cms_blocks">
        <header>
            <h1>CMS Blocks</h1>

            <div>
                {% for blockTypeName in blockTypeNames %}
                    <a href="{{ path('cms_block_new', {'typeName': blockTypeName}) }}" class="btn btn-outline-secondary">
                        ➕ {{ blockTypeName|capitalize }}
                    </a>
                {% endfor %}

                {% set debug = app.session.get('cms-debug', false) %}
                <a href="{{ path('cms_block_debug') }}" class="btn btn-outline-{{ debug ? 'success' : 'danger' }}">
                    🐛 Debug : {% if debug %}on{% else %}off{% endif %}
                </a>
            </div>
        </header>

        {% if blocks|length > 0 %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Slug</th>
                        {% if i18nDisplay %}<th>Language</th>{% endif %}
                        <th>Type</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                    </tr>
                </thead>
                <tbody>
                {% for slug, blocks in blocksBySlug %}
                    {% set block = blocks[0] %}
                        <tr>
                            {% if i18nDisplay %}
                                <td><a href="{{ path('cms_block_edit_by_slug', { 'slug': block.slug }) }}">{{ block.slug }}</a></td>
                                <td>
                                    {% for b in blocks %}
                                        <a href="{{ path('cms_block_edit', {'id': block.id}) }}">{{ b.language ?? 'n/a' }}</a>{{ not loop.last ? ' - ' : '' }}
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td><a href="{{ path('cms_block_edit', { 'id': block.id }) }}">{{ block.slug }}</a></td>
                            {% endif %}
                            <td>{{ block.type }}</td>
                            <td>{{ block.createdAt|date('Y-m-d') }}</td>
                            <td>{{ block.updatedAt|date('Y-m-d') }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-info">
                There isn't any existing content block yet.
            </p>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% include '@KibaticCms/_css.html.twig' %}
{% endblock %}
